.App {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    font-weight: bold;
}

.blockApp {
    background-color: rgba(73, 72, 72, 0.35);
    border: solid 2px #1a6f83;
    padding: 10px;
    border-radius: 5px;
    margin: 20px;
}

.valueBlock {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 200px;
    height: 80px;
    border: solid 2px #1a6f83;
    padding: 10px;
    border-radius: 5px;
}

.value {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 15px;
    color: #1a6f83;
}

.inputClass {
    width: 100px;
    height: 18px;
    border: solid 2px #1a6f83;
    border-radius: 5px;
    background-color: rgba(72, 209, 204, 0.3);
}


button {
    font-size: 15px;
    font-weight: bold;
    background-color: #1a6f83;
    border-radius: 5px;
    border: 2px solid #037281;
}

button:active {
    background-color: #055059;
}

.blockButton {
    display: flex;
    align-items: center;
    justify-content: space-around;
    border: solid 2px #1a6f83;
    border-radius: 5px;
    margin-top: 10px;
    padding: 10px;
}

.Number,
.NumberRED,
.NoValid {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 35px;
    min-width: 200px;
    min-height: 100px;
    border: 2px solid #1a6f83;
    border-radius: 5px;
    color: #037281;
}

.NumberRED,
.NoValid {
    color: #8f0000;
}


